PORT=5000
MONGO_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/vibely
JWT_SECRET=your_jwt_secret_here
REFRESH_SECRET=your_refresh_secret_here
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
EMAIL_SCRIPT_URL=https://script.google.com/macros/s/your-script-id/exec
REDIS_URL=redis://localhost:6379
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
CLIENT_URL=http://localhost:5173
